<div class="card mt-2">
  <div class="card-header">Employee details</div>
  <div class="card-body">
    <div class="list-group list-group-flush">
      <div class="list-group-items">
        Name:
        <h5>{{employee.name}} {{employee.lastName}}</h5>
      </div>
      <div class="list-group-items">
        Email:
        <h5>{{employee.email}}</h5>
      </div>
      <div class="list-group-items">
        Start Date:
        <h5>{{employee.startDate}}</h5>
      </div>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-warning btn-sm" (click)="onGoToEdit()">
      Edit
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="onGoToDelete()"
    >
      Delete
    </button>
  </div>
</div>
<button type="button" class="btn btn-primary mt-2" (click)="onGoBackToList()">
  Go back to list
</button>
